body{
    font-family: 'Raleway', sans-serif;
    margin:0;
}
h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
}
img.logo {
    margin: 0 auto;
    display: block;
    width: 250px;
    max-width: 100%;
}
nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #ccc;
    margin: 0;
}
nav button {
    width: 33.33%;
}
img.icon {
    width: 75px;
    padding:5px;
}
div#content {
    padding: 20px 40px;
    margin-bottom: 100px;
}
ul {
    width: 100%;
    list-style: none;
    padding: 0;
}
li{
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}
li:hover {
    cursor: pointer;
}
button.button {
    background: #ef8320;
    border: #ef8320;
    height: 40px;
    color: #fff;
    font-size: 15px;
}