body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}
h1 {
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
}
img.logo {
  margin: 0 auto;
  display: block;
  width: 250px;
  max-width: 100%;
}
nav {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  background: #ccc;
  margin: 10 px;
}
nav .active,
.active {
  opacity: 1;
  visibility: visible;
  background-color: black;
}
nav button {
  width: 25%;
  position: center;
  color: gray;
}
img.icon {
  width: 75px;
  padding: 5px;
}
div#content {
  padding: 20px 40px;
  margin-bottom: 100px;
}
ul {
  width: 100%;
  list-style: none;
  padding: 0;
}
li {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
li:hover {
  cursor: pointer;
}
button {
  background: #ef8320;
  text-decoration: none;
  border: #ef8320;
  height: 40px;
  color: #fff;
  font-size: 15px;
  display: block;
}
button:disabled {
  background-color: #cccc;
}
button.button:hover {
  cursor: pointer;
}
.player {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.search {
  margin: 0 auto;
  display: block;
  text-align: center;
}
.search input {
  font-size: 20px;
  height: 35px;
}
.search .button {
  display: inline-block;
  margin-left: 10px;
}
#app {
  margin-bottom: 100px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  margin: auto;
  padding: 2px 16px;
  border: 1px solid #888;
  width: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatedown;
  animation-duration: 0.5s;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.animate-up {
  animation-name: animateup;
  animation-duration: 0.5s;
}

.fade-out {
  animation-name: fadeout;
  animation-duration: 0.5s;
}

@keyframes animatedown {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animateup {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -300px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
